.bluline {
    width: 100%;
    height: 3px;
    left: 0px;

    background: #6ed3ff;
    box-shadow: 0px 0px 20px #0500ff;
}

.footer__section {
    background-color: #0C0C0C;
}

.main-footer__section {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px 10px 30px;
}

.first-footer__section {
    display: flex;
    align-items: flex-end;
}

.img__logo {
    width: 150px;
}

.contrfooter {
    max-width: 1560px;
    margin: 0px auto;
    padding: 18px 15px;
    background-color: #0C0C0C;
}

.footer__links {
    margin: 0 10px 0 10px;
}

.footer__links a {
    font-size: 14px;
    color: #c1c1c1;
}

.img__social {
    width: 50px;
    margin: 10px;
}

.mir {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    align-items: end;
    justify-content: space-between;
}

@media (max-width: 550px) {
    .mir {
        display: flex;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        align-items: end;
        justify-content: space-between;
    }
}

.fix_bag {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

@media (max-width: 550px) {
    .fix_bag {
        margin: 0px auto;
        display: table;
        justify-content: space-between;
    }
}

.med {
    position: relative;
    right: 0;
}