.main-page__product {
    /* height: 100vh; */
    min-height: 800px;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.first-section__page-product {
    display: flex;
    width: 60%;
}

.second-section__page-product {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.main-section__product, .first-section__main-section {
    display: flex;
}

.block__product {
    display: flex;
    flex-direction: column;
    color: #ffffff !important;
    width: 337px;
    height: 337px;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 20px #4ca9ff;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link-avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.img__product {
    display: inline-flex;
    width: 200px;
}

.description__product {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.second-section__description {
    display: flex;
    align-items: center;
    margin: 30px 0 0 0;
}

.second-section__page-product {
    margin: 30px;
}

.list-review__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-review__section h3 {
    color: #ffffff !important;
}

.add__description-product {

}

.add__description-product p {
    font-weight: 500;
    margin: 10px 0 0 0;
}

.form-review__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-review__section h2 {
    color: #ffffff !important;
}

.form__review {
    display: flex;
    flex-direction: column;
    color: #ffffff !important;
    width: 100%;
} 

.textarea__review {
    display: flex;
    flex-direction: column;
    padding: 5px 10px 0 10px;
    font-size: 14px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ffffff !important;
    width: 337px;
    background-color: #0C0C0C;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 20px #caff00;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.button__review {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ffffff !important;
    width: 337px;
    background-color: #0C0C0C !important;
    border: 2px solid #ffffff !important;
    box-shadow: 0px 0px 20px #caff00;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.post__review {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ffffff !important;
    width: 337px;
    background-color: #0C0C0C !important;
    border: 2px solid #ffffff !important;
    box-shadow: 0px 0px 20px #caff00;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.name__review {
    font-size: 20px;
    font-weight: 600;
}

.button-main-product {
    background: none;
    border: 0;
    cursor: pointer;
}

.close-main-button {
    background: none;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 40px;
}

@media (max-width: 1200px) {
    .main-page__product {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .second-section__page-product, .first-section__page-product {
        width: 100%;
        justify-content: center;
    }

    .main-section__product {
        align-items: center;
    }

    .first-section__main-section {
        flex-direction: column;
    }

    .second-section__main-section {
        display: flex;
        justify-content: center;
    }

    .add__description-product, .textarea__review, .button__review, .form__review {
        width: 337px;
    }
}

@media (max-width: 500px) {
    .block__product {
        width: 300px;
        height: 300px;
    }

        .add__description-product,
        .textarea__review,
        .button__review,
        .form__review {
            width: 300px;
        }
}

@media (max-width: 400px) {
    .block__product {
        width: 237px;
        height: 237px;
    }
        .add__description-product,
        .textarea__review,
        .button__review,
        .form__review {
            width: 237px;
        }
    
        .add__description p {

        }
}
