.profileMoreInfo {
    /* margin-top: 12px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
}

.profEmailHowLogin>input[type="checkbox"] {
    margin: 0;
    outline: none;
    border: 2px solid #ffffff;
    border-radius: 25%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% 75%;
    width: 16px;
    height: 16px;
}

.profEmailHowLogin>input[type="checkbox"]:checked {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.profMoreInfoBlock {
    display: flex;
    flex-direction: column;
}

.profMoreInfoBlock2 {
    /* margin-top: 24px; */
}

.profInfoHeader {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #7a7d80;
}

/* .profInfoHeader2 {
    margin-top: 24px;
} */

.profInfoContent,
.profInfoInput {
    margin-top: 4px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    /* line-height: 22px; */
    color: #ffffff;
}

.profInfoInput {
    /* width: 100%; */
    outline: none;
    border-width: 0;
    padding: 2px 10px;
    background-color: inherit;
    border: 0;
    border-bottom: 3px solid #fff;
    border-bottom-color: #3af942;
    color: #ffffff;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    padding: 10px 5px 10px 30px;
}

.profEmailHowLogin {
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.profEmailHowLogin>span {
    margin-left: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
    color: #000000;
}

.profileMoreInfoDiv {
    display: flex;
    flex-direction: column;
}

.profileMoreInfoDiv:nth-child(2) {
    /* margin: 0 8px; */
}

/* .profileMoreInfoDiv:nth-child(1n + 1) {
  margin-left: 12px;
} */

.passwordContentDiv {
    margin-left: 7.7%;
}

.passwordText {
    box-sizing: border-box;
    min-width: 241px;
    margin-top: 4px;
    background: #ffffff;
    border-radius: 16px;
    outline: none;
    border-width: 0;
    padding: 8px 16px 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #5282c3;
    text-align: center;
    height: 32px;
}

.submitButton {
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 24px;
    /* min-width: 241px; */
    background: none;
    /* background: #5282c3; */
    border-radius: 16px;
    /* font-family: Montserrat; */
    font-style: normal;
    padding: 4px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    border-width: 0;
}

.profChangePassButton {
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 24px;
    min-width: 241px;
    background: #5282c3;
    border-radius: 16px;
    font-family: Montserrat;
    font-style: normal;
    padding: 4px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    border-width: 0;
}

input[type="file"][name="avatar"] {
    width: 228px;
}

.profBirthDiv {
    display: flex;
    justify-content: space-between;
}

.profBirthSelect {
    height: 26px !important;
    /* background: white !important; */
    background-position: right 5px center !important;
    padding: 0 17px 0 0 !important;
}

@media (max-width: 700px) {
    .profBirthSelect {
        background-color: #dae5f6 !important;
    }

    .profileMoreInfoDiv:nth-child(2)[isseller="true"] {
        margin: 0;
    }

    .profileMoreInfo {
        margin: 0;
    }

    .profileMoreInfo[isseller="true"] {
        justify-content: flex-start;
    }

    .profInfoHeader {
        font-size: 14px;
        line-height: 20px;
    }

    .profInfoContent,
    .profInfoInput {
        font-size: 14px;
        line-height: 20px;
    }

    .profMobileHiddenBlock1 {
        margin: 0;
        position: absolute;
        top: 314px;
        left: 16px;
    }

    .profMobileHiddenBlock1[isseller="true"] {
        top: 324px;
        max-width: 55%;
    }

    .profMobileHiddenBlock2[isseller="false"] {
        margin: 0;
        position: absolute;
        top: 370px;
        left: 16px;
    }

    .profMobileHiddenBlock2[isseller="true"] {
        max-width: 35%;
        margin: 0;
        position: absolute;
        top: 324px;
        right: 16px;
    }

    .profMobileHiddenBlock3 {
        margin: 0;
        position: absolute;
        top: 400px;
        left: 16px;
    }

    .profMobileHiddenBlock4 {
        margin: 0;
        position: absolute;
        top: 480px;
        left: 16px;
    }

    .passwordContentDiv[isseller="false"] {
        margin: 0;
        position: absolute;
        top: 459px;
        left: 14px;
    }

    .passwordContentDiv[isseller="false"].displayEditProfile {
        top: 555px;
    }

    .profMoreInfoBlock[active="false"],
    .passwordContentDiv[isseller="false"][active="false"],
    .submitButton[isseller="false"][active="false"] {
        display: none;
    }

    .profileChangeButton[isseller="true"] {
        margin: 0;
        position: absolute;
        top: 400px;
        left: 16px;
        right: 16px;
        width: calc(100% - 32px);
    }

    .profileChangeButton[isseller="false"] {
        margin: 0;
        position: absolute;
        top: 550px;
        left: 16px;
        right: 16px;
        width: calc(100% - 32px);
    }

    .profileChangeButton[isseller="false"][active="false"] {
        display: none;
    }

    .passwordContentDiv {
        margin: 0;
    }

    .passwordText {
        font-weight: 600;
        font-size: 18px;
        line-height: 16px;
        height: 24px;
        width: 100%;
        min-width: 154px;
        background: #dae5f6;
    }

    .profChangePassButton {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        height: 24px;
        width: 100%;
        min-width: 154px;
        margin-top: 4px;
    }

    .profEmailHowLogin>input[type="checkbox"] {
        border: 2px solid #5282c3;
        width: 12px;
        height: 12px;
    }

    .profInfoInput {
        background: #dae5f6;
    }

    input[type="file"][name="avatar"] {
        width: 120px;
    }
}