.main-section__product-main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 337px;
    height: 337px;
    margin: 10px;
    color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 20px #4ca9ff;
    border-radius: 10px;
    /* margin: 30px 0; */
    padding: 0 30px;
}

.avatar__product-main {
    width: 200px;
}

.link-avatar__product-main {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.first-section__product-main {
    height: 60%;
}

.second-section__product-main {
    height: 40%;
}

.first-section__add-info-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    /* bottom: 20px; */
    justify-content: center;
}

.main__buttons-main {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    bottom: 20px;
}

.main__buttons-main button {
    cursor: pointer;
    background: none !important;
    border: 0;
    font-size: 30px;
}

.button_favorite {
    margin: 0 10px;
}

@media (max-width: 1200px) {
    .first-section__products-page {
        display: flex;
        flex-direction: column;
    }

    .second-section__products-page {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .category__button {
        width: 224px;
        padding: 15px;
        font-size: 20px;
        font-weight: 500;
    }

    .main-section__product-main {
        width: 224px;
        height: 224px;
    }

    .avatar__product-main {
        width: 150px;
    }

    .main__buttons-main {
        bottom: 0;
        left: 20px;
        align-items: center;
    }

    .close__basket {
        font-size: 20px !important;
        height: auto;
    }

    .button__favorites img {
        width: 20px;
    }

    .add-to-basket {
        width: 20px;
    }

    .basket__button {
        display: inline-flex;
    }
}

@media (max-width: 285px) {
    .main-section__product-main {
        width: 175px;
        height: 175px;
    }

    .category__button {
        width: 175px;
        font-size: 15px;
        padding: 10px;
    }

    .add__info-main {
        font-size: 12px;
    }
}
